.trainer-section {
  background-color: white;
  padding: 4rem 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding-top: 80px;
  margin-bottom: 20px;
}

.trainer-box {
  background-color: #1d1d1d;
  color: white;
  max-width: 500px;        
  padding: 3rem 2rem;
  text-align: center;
  border-radius: 0px;      
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}


.trainer-heading {
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.trainer-box p {
  font-size: 0.8rem;
  line-height: 1.8;
  color: #e5e5e5;
  margin-left: 10px;
  margin-right: 10px;
}

.trainer-box strong {
  font-weight: bold;
  color: white;
}

.trainer-cta p {
  margin: 0.5rem 0;
  font-weight: bold;
}

.trainer-link {
  color: white;
  text-decoration: underline;
  font-weight: bold;
  display: inline-block;
  margin-top: 0.5rem;
}
